<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="undefined" crossorigin="anonymous">
</head>
<body>

    <h3 id = "heading"> Your contact list </h3>

    <ul id = "contact-list-container">
        <% for (contact of contact_list) { %>
            <li id = "contact-list">

                <div id = "list-item">
    
                    <div id = "list-content">
                        <p><%= contact.name %></p>
                        <p><%= contact.phone %></p>
                    </div>

                    <div id = "delete-icon">
                        <a href="/delete-contact/<%= contact._id %>">Delete</a>
                    </div>

                </div>
                

            </li>
            
        
        <% } %>
    </ul>   

    
    <form action="/create-contact" method="POST" id = "contact-form">
    
        <input type="text" name="name" id="name" placeholder="Enter your name">
        <input type="text" name="phone" id="phone" placeholder="Enter your phone number">
        <button type="submit" id = "submit-btn">Submit</button>

    </form>

</body>
</html>